[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pandas = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"
pymongo = "*"
passlib = "*"

[requires]
python_version = "3.7"
