{% extends "base.html" %}
{% block content %}
    <div class="row">
        {% for cash_data in cash_data %}
            <div class="col-sm-6 alert-card">
                <div class="card">
                    <div class="card-body">
                        <form action="/update_alert" method="post">
                            <h3 class="card-title">{{ cash_data.currency }}</h3>
                            <input type="hidden" name="currency" value="{{ cash_data.currency }}">
                            <input type="hidden" name="rate_exchange" value="cash">
                            <div class="form-group row">
                                <label for="bank_buy" class="col-6 col-form-label">银行买入：</label>
                                <div class="col-6">
                                    <input class="form-control " type="tel" id="bank_buy" name="bank_buy"
                                           required="required" pattern="\d+\.?\d*" placeholder="{{cash_data.price[0]}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="bank_sale" class="col-6 col-form-label">银行卖出：</label>
                                <div class="col-6">
                                    <input class="form-control form-input" type="tel" id="bank_sale" name="bank_sale"
                                           required="required" pattern="\d+\.?\d*" placeholder="{{cash_data.price[1]}}">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-update">更新</button>
                        </form>
                        <form action="/delete_alert" method="post">
                            <input type="hidden" name="currency" value="{{ cash_data.currency }}">
                            <input type="hidden" name="rate_exchange" value="cash">
                            <button type="submit" class="btn btn-primary">删除</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
